{% extends 'base.html' %}
{% block content %}
<div class="mb-4">
    <h4 class="mb-3">Денежные средства</h4>
    <div class="list-group">
        {% for acc_currency in currencies %}
            <div class="list-group-item d-flex justify-content-between align-items-center">
                <span>{{ acc_currency.currency_name }}</span>
                <strong>{{ acc_currency.amount }} {{ acc_currency.sign }}</strong>
            </div>
        {% endfor %}
    </div>
</div>

<div class="mb-4">
    <h4 class="mb-3">Акции</h4>
    <div class="list-group">
        {% for acc_stock in stocks %}
            <div class="list-group-item d-flex justify-content-between align-items-center">
                <span>{{ acc_stock.ticker }}</span>
                <span>{{ acc_stock.amount }} шт.</span>
                <span>Средняя цена: {{ acc_stock.avg }}</span>
            </div>
        {% endfor %}
    </div>
</div>

<div>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'stock:list' %}">К списку акций</a>
</div>
{% endblock %}
