{% extends 'base.html' %}
{% block content %}
<table class="table table-striped table-hover align-middle">
    <thead class="table-light">
        <tr>
            <th scope="col">Логотип</th>
            <th scope="col">Тикер</th>
            <th scope="col">Компания</th>
            <th scope="col">Последняя цена</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
            <tr>
                <td>
                    {% if stock.logo %}
                        <img src="{{ MEDIA_URL }}/{{ stock.logo }}" width="40" class="rounded" alt="{{ stock.name }} logo">
                    {% endif %}
                </td>
                <td>{{ stock.ticker }}</td>
                <td>{{ stock.name }}</td>
                <td>
                    {{ stock.get_random_price }}{{ stock.currency.sign }}<br>
                    <a class="btn btn-sm btn-outline-primary mt-1" href="{% url 'stock:detail' stock.pk %}">Купить/Продать акции</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
