{% extends 'base.html' %}
{% block content %}
<div class="mb-4 d-flex align-items-center">
    <img src="{{ MEDIA_URL }}/{{ stock.logo }}" width="40" class="me-2" alt="{{ stock.name }} logo" />
    <h5 class="mb-0">Акции {{ stock.name }} ({{ stock.ticker }})</h5>
</div>

<div class="mb-4">
    <form method="POST" action="{% url 'stock:trade' stock.pk %}">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-3">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div class="text-danger small">{{ field.errors }}</div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-sm btn-success">Подтвердить!</button>
    </form>
</div>

<div>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'stock:list' %}">Назад к списку</a>
</div>
{% endblock %}
